extends ../base
block title
    | match2one
block main
    h1 Custom Succes Story
    button(class='buttonRose') Read Full Story
    p(class='paragraph') Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ea eius, eum explicabo fugit in magni nihil perspiciatis ratione velit! At ducimus earum, itaque magnam maxime natus nesciunt placeat provident quis vel vitae voluptas. Beatae eos excepturi hic incidunt iste iusto molestiae nihil omnis possimus quam totam, vel veritatis voluptatibus?
    .percent 76%
    p(class='percentParagraph') Decrease in cost per acquisition
    img(src=require("./404_logo.png") width="100")