@import "../../styles/app";

.backImage {
  background-image: url("img/circle.png");
  background-repeat: no-repeat;
  background-position:  80% 0;
}

.containerLeft {
  width: 800px;
  position: relative;
}

h1 {
  font-size: 52px;
  font-weight: 500;
}

.story {
  position: relative;

  span {
    font-weight: 700;
    font-size: 25px;
  }
  .logo {
    position: absolute;
    top: 0;
    right: -120px;
    height: 120px;
  }
}

.graphic {
  width: 100%;
}

.table {
  background-image: url("img/circle.png");
  background-repeat: no-repeat;
  background-position:  120% -35%;

  .info {
   background-color: #e1f1fb;
   text-align: center;
   padding: 10px 0;
   margin-top: 10px;

    h2 {
        font-weight: 500;
      }

    .settings {
      margin: 0 auto;
      border-collapse: collapse;

      tbody {
          text-align: left;
        }

        tr {
          border-bottom: 1px solid $white;
          td {
            width: 250px;
            padding: 5px 0;
            font-size: 16px;
          }
          .td {
            font-size: 19px;
          }
        }
    }

    .results {
      margin: 0 auto;
      width: 500px;
        th {
          font-weight: 500;
        }
        .tr {
           font-weight: 600;
          font-size: 38px;
        }
    }
    .description {
      font-size: 22px;
    }
  }
}

.infoPerson {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 30px 0;

  .container {
    display: flex;

      .containerRight {
        display: flex;
        flex-wrap: wrap;
        margin-left: 20px;
        padding-top: 20px;
        .info {
          span {
            display: block;
            margin-left: 20px;
            padding: 1px 0;
          }
        }

         img {
           height: 140px;
         }
      }
  }
}

.slider {
  margin: 50px 0;
  text-align: center;
  padding: 50px 0;
  position: relative;
  height: 300px;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  .title {
      color: $black;
      font-size: 32px;
      font-weight: 580;
  }

  .sliderContent {
    width: 800px;
    margin: 0 auto;
    margin-top: 30px;

    .container {
      width: 300px;
      padding-left: 30px;
      padding-right: 30px;
      position: relative;
      height: 200px;
      cursor: pointer;

      .content {
        position: absolute;
        color: $white;
        height: 200px;
        width: 208px;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: all 0.5s ease;

        span {
          font-weight: 700;
          font-size: 28px;
          margin-top: 60px;
          display: block;
        }
         p {
           color: $white;
           font-size: 16px;
           font-weight: 500;
         }
      }

      .content:hover {
        opacity: 1;
      }

      img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

      }
  }


  .arrows {
    width: 900px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: -120px;
    position: relative;
  }

  .prev::after {
    font-family: $font-family;
    content: 'b';
    color: $rose;
    display: block;
    font-size: 35px;
    cursor: pointer;
    opacity: 0.4;
  }

  .prev:active::after {
    margin-left: -3px;
    opacity: 1;
  }

  .next::after {
    font-family: $font-family;
    content: 'e';
    color: $rose;
    display: block;
    font-size: 35px;
    cursor: pointer;
    opacity: 0.4;
  }

  .next:active::after {
    margin-right: -3px;
    opacity: 1;
  }
}

.slick-dots li button:before {
  color: #eebbd2;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #fd5680;
}

.slick-dots {
  bottom: -40px;
}
.slick-dots li button:before {
  font-size: 9px;
}

@media screen and (max-width: 1130px) {

  .infoPerson .container .containerRight .info {
    margin-top: 10px;
  }

  .infoPerson .container .containerRight .info span {
    margin-left: 0;
  }
}

@media screen and (max-width: 1000px) {
  .slider .arrows {
    width: 100%;
  }

  .containerLeft {
    width: 100%;
  }

  .story .logo {
    position: static;
  }
}

@media screen and (max-width: $screen-sm-min) {
 .slider .sliderContent {
    width: 100%;
    padding: 0 30px;
 }

  .infoPerson .container {
    flex-wrap: wrap;
  }

  .infoPerson .container .containerRight .info {
    margin-top: 0;
  }

  .infoPerson .container .containerRight .info span {
    margin-left: 10px;
  }
}

